{
  "presets": [["env", { "modules": false }], "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-runtime"
  ]
}
